# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Backend
backend/data/*.db
backend/data/*.db-*
backend/.env
backend/config/.env
backend/app
backend/tmp/

# Docker deploy secrets
.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.swc/
frontend/.temp/
frontend/.rn_temp/
frontend/lib/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
