.family-setup {
  .intro-title {
    display: block;
    font-size: 34px;
    font-weight: 600;
  }

  .intro-desc {
    display: block;
    margin-top: 12px;
    color: #6b7280;
    line-height: 1.6;
  }

  .taroify-tabs {
    margin-top: 8px;
  }
}
